In [1]:
import pandas as pd
import os

# NIQE, BRISQE and NIMA

In [2]:
acc_dir = "/home/mahdi/Projects/FairnessLens/Gateway/results/generated_images/ucb_accurate"
mod_dir = "/home/mahdi/Projects/FairnessLens/Gateway/results/generated_images/ucb_moderate"
imp_dir = "/home/mahdi/Projects/FairnessLens/Gateway/results/generated_images/ucb_imprecise"

In [3]:
acc_files = os.listdir(acc_dir)
mod_files = os.listdir(mod_dir)
imp_files = os.listdir(imp_dir)

In [4]:
acc_df = pd.DataFrame({'filename': acc_files})
mod_df = pd.DataFrame({'filename': mod_files})
imp_df = pd.DataFrame({'filename': imp_files})
acc_df

                          filename
0   0_0_1_20231111200646265384.png
1   0_0_1_20231111200709733806.png
2   0_0_1_20231111200737758999.png
3   0_0_1_20231111200827493751.png
4   0_0_1_20231111200949641359.png
..                             ...
93  7_1_1_20231111200445463484.png
94  7_1_1_20231111200514052077.png
95  7_1_1_20231111200533923795.png
96  7_1_1_20231111200559418886.png
97  7_1_1_20231111200622781893.png

[98 rows x 1 columns]

In [5]:
accepted_acc_df = pd.read_csv("/home/mahdi/Projects/FairnessLens/ImageAnalyzer/datasets/ucb_accurate.csv")
accepted_mod_df = pd.read_csv("/home/mahdi/Projects/FairnessLens/ImageAnalyzer/datasets/ucb_moderate.csv")
accepted_imp_df = pd.read_csv("/home/mahdi/Projects/FairnessLens/ImageAnalyzer/datasets/ucb_imprecise.csv")

accepted_acc_df

                             filename  age_group  gender  race  is_generated
0         0_0_0_20170103202801736.png          0       0     0         False
1         0_0_0_20161219204329404.png          0       0     0         False
2         0_0_0_20170110212907649.png          0       0     0         False
3         0_0_0_20170109191432590.png          0       0     0         False
4         0_0_0_20170104201100490.png          0       0     0         False
...                               ...        ...     ...   ...           ...
13382  0_0_1_20231111200949641359.png          0       0     1          True
13383  0_1_3_20231111201013968007.png          0       1     3          True
13384  0_0_1_20231111201038069562.png          0       0     1          True
13385  0_1_3_20231111201100504521.png          0       1     3          True
13386  0_0_1_20231111201221689245.png          0       0     1          True

[13387 rows x 5 columns]

In [6]:
acc_df['accepted'] = acc_df['filename'].isin(accepted_acc_df['filename'])
mod_df['accepted'] = mod_df['filename'].isin(accepted_mod_df['filename'])
imp_df['accepted'] = imp_df['filename'].isin(accepted_imp_df['filename'])

In [7]:
acc_df

                          filename  accepted
0   0_0_1_20231111200646265384.png      True
1   0_0_1_20231111200709733806.png     False
2   0_0_1_20231111200737758999.png      True
3   0_0_1_20231111200827493751.png      True
4   0_0_1_20231111200949641359.png      True
..                             ...       ...
93  7_1_1_20231111200445463484.png      True
94  7_1_1_20231111200514052077.png      True
95  7_1_1_20231111200533923795.png      True
96  7_1_1_20231111200559418886.png      True
97  7_1_1_20231111200622781893.png      True

[98 rows x 2 columns]

In [8]:
combined_df = pd.concat([acc_df, mod_df, imp_df])
combined_df

                          filename  accepted
0   0_0_1_20231111200646265384.png      True
1   0_0_1_20231111200709733806.png     False
2   0_0_1_20231111200737758999.png      True
3   0_0_1_20231111200827493751.png      True
4   0_0_1_20231111200949641359.png      True
..                             ...       ...
78  7_1_1_20231113153127607663.png     False
79  7_1_1_20231113153154126106.png      True
80  7_1_1_20231113153218257091.png      True
81  7_1_1_20231113153247723432.png      True
82  7_1_1_20231113153958486817.png      True

[271 rows x 2 columns]

In [9]:
len(combined_df[combined_df['accepted'] == False])

31

In [10]:
niqe_results = pd.read_csv("./NIQE/combined_niqe_results.csv")
brisque_results = pd.read_csv("./BRISQUE/combined_brisque_results.csv")
nima_results = pd.read_csv("./NIMA/combined_nima_results.csv")
niqe_results

                           filename      score  niqe_accepted
0    0_0_1_20231111200646265384.png   7.549195           True
1    0_0_1_20231111200709733806.png   7.927759           True
2    0_0_1_20231111200737758999.png  10.698085          False
3    0_0_1_20231111200827493751.png   7.546732           True
4    0_0_1_20231111200949641359.png   4.222256           True
..                              ...        ...            ...
266  7_1_1_20231113153127607663.png   9.205098          False
267  7_1_1_20231113153154126106.png   4.021356           True
268  7_1_1_20231113153218257091.png   5.989838           True
269  7_1_1_20231113153247723432.png   4.599254           True
270  7_1_1_20231113153958486817.png   4.799046           True

[271 rows x 3 columns]

In [11]:
result_df = pd.merge(combined_df, niqe_results, on='filename', how='outer')
result_df = pd.merge(result_df, brisque_results, on='filename', how='outer')
result_df = pd.merge(result_df, nima_results, on='filename', how='outer')

In [13]:
result_df

,filename,accepted,score_x,niqe_accepted,score_y,brisque_accepted,score,nima_accepted
0,0_0_1_20231111200646265384.png,True,7.549195,True,42.036316,True,4.972871,True
1,0_0_1_20231111200709733806.png,False,7.927759,True,18.112488,True,3.048990,False
2,0_0_1_20231111200737758999.png,True,10.698085,False,62.312683,False,5.363655,True
3,0_0_1_20231111200827493751.png,True,7.546732,True,47.880554,False,4.211637,True
4,0_0_1_20231111200949641359.png,True,4.222256,True,24.765808,True,4.763424,True
...,...,...,...,...,...,...,...,...
266,7_1_1_20231113153127607663.png,False,9.205098,False,44.859558,True,4.662572,True
267,7_1_1_20231113153154126106.png,True,4.021356,True,12.228699,True,5.497718,True
268,7_1_1_20231113153218257091.png,True,5.989838,True,55.552429,False,5.694609,True
269,7_1_1_20231113153247723432.png,True,4.599254,True,23.832214,True,5.895000,True
270,7_1_1_20231113153958486817.png,True,4.799046,True,16.481628,True,5.706777,True

## NIQE

In [14]:
filtered_df = result_df[(result_df['accepted'] == False) | (result_df['niqe_accepted'] == False)]
correlation = filtered_df['accepted'].corr(filtered_df['niqe_accepted'])
print(f"Correlation between 'accepted' and 'niqe_accepted': {correlation}")

Correlation between 'accepted' and 'niqe_accepted': -0.7741935483870972

In [15]:
len(result_df[(result_df['accepted'] == False) & (result_df['niqe_accepted'] == False)])/len(result_df[(result_df['accepted'] == False) | (result_df['niqe_accepted'] == False)])

0.12727272727272726

## BRISQUE

In [16]:
filtered_df = result_df[(result_df['accepted'] == False) | (result_df['brisque_accepted'] == False)]
correlation = filtered_df['accepted'].corr(filtered_df['brisque_accepted'])
print(f"Correlation between 'accepted' and 'brisque_accepted': {correlation}")

Correlation between 'accepted' and 'brisque_accepted': -0.8709677419354837

In [17]:
len(result_df[(result_df['accepted'] == False) & (result_df['brisque_accepted'] == False)])/len(result_df[(result_df['accepted'] == False) | (result_df['brisque_accepted'] == False)])

0.06896551724137931

## NIMA

In [20]:
filtered_df = result_df[(result_df['accepted'] == False) | (result_df['nima_accepted'] == False)]
correlation = filtered_df['accepted'].corr(filtered_df['nima_accepted'])
print(f"Correlation between 'accepted' and 'nima_accepted': {correlation}")

Correlation between 'accepted' and 'nima_accepted': -0.870967741935484

In [21]:
len(result_df[(result_df['accepted'] == False) & (result_df['nima_accepted'] == False)])/len(result_df[(result_df['accepted'] == False) | (result_df['nima_accepted'] == False)])

0.06896551724137931